// Microsoft Visual C++ generated resource script.
//
#include "windows.h"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1,0,0,1
	PRODUCTVERSION 1,0,0,1
	FILEFLAGSMASK 0x17L
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x4L
	FILETYPE 0x2L
	FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "FileDescription", "天翔記 カスタムシナリオタイトル用・一般MOD"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "LegalCopyright", "Copyright (C) 2016 ★編集者の名前★"
            VALUE "ProductName", "天翔記 カスタムシナリオタイトル用・一般MOD"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
